target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/**
!**/src/test/resources/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/resources/archetype-resources/pom.xml

### VS Code ###
.vscode/

### Others ###
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*
